<html>
<head>
<style>
	* {font-family: Verdana, sans-serif}
	span {font-size: 80%}
	table, td, th {border: solid black 1px}
	table {border-collapse: collapse; font-size: 80%}
	td, th {padding: 2px}
</style>
<title>Danbooru Tags Statistics</title>
</head>
<body>
<b>Welcome to Danbooru Tags Statistics</b><br>
<span><br><b>Note:</b> All data is updated every day at 00:00 UTC. Therefore, data is not in real time.<br></span>
<table>
	<tr><th>Link</th><th>Description</th></tr>
	<tr><td><a href="/top">Top</a></td><td>Top 100 tags (ranked by post count)</td></tr>
	<tr><td><a href="/search">Search</a></td><td>Search for tags</td></tr>
</table>
</body>
</html>