<html>
<head>
<style>
	* {font-family: Verdana, sans-serif}
	span {font-size: 80%}
	table {border: solid black 0px}
	table {border-collapse: collapse; font-size: 80%}
	td, th {padding: 2px}
</style>
<title>Search</title>
</head>
<body>
<form method="GET">
	<table>
		<tr><td style="text-align: right">Tag</td><td style="text-align: left"><input name="name" required type="text"><input name="exact" type="checkbox">Search exactly</checkbox></td></tr>
		<tr><td></td><td>Enter * to match 0 or more characters. Enter only * to match all tags. Check search exactly to match a comma-separated list of tags: touhou,original,k-on! will return the three tags.</td></tr>
		<tr><td style="text-align: right">Category</td><td style="text-align: left"><select name="category" required>
			<option value="all">All</option>
			<option value="0">General</option>
			<option value="1">Artist</option>
			<option value="3">Copyright</option>
			<option value="4">Character</option>
		</select></td></tr>
		<tr><td style="text-align: right">Hide empty</td><td style="text-align: left"><select name="hide_empty" required><option value="yes">Yes</option></select> Cannot be disabled.</td></tr>
		<tr><td style="text-align: right">Sort</td><td style="text-align: left"><select name="order" required>
			<option value="count">Count</option>
			<option value="date">Date</option>
			<option value="name">Name</option>
		</select></td></tr>
		<tr><td style="text-align: right">Has wiki</td><td style="text-align: left"><select name="has_wiki" required>
			<option value="yes">Yes</option>
			<option value="no" selected>No</option>
		</select></td></tr>
	</table>
	<input type="submit"><br>
</form>
</body>
</html>